#core-concepts{
    background-color: #cbcbd7;
    padding: 10px; 
    width: 100%;
    display: -webkit-inline-flex;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
}

.lista {
    list-style-type: none;
    width: 33,3%;
    padding-top: 10px;
    float: left;
}


